{% extends 'admin/base.html.twig' %}

{% block title ('Modifier un commentaire') %}

{% block body %}

    <main class="container-fluid mt-5">
        <h1 class="my-3 p-3 text-center">Modification d'un commentaire</h1>
        <div class="row mt-5">
            <div class="col-8 offset-2 p-5 alert alert-info">
                <p>Annonce liée: {{comment.ad.title}}</p>
                <p>Auteur: {{comment.ad.author.fullname}}</p>
                <p>Date de création: {{comment.createdAt|date('d/m/Y H:i')}}</p>
                <p>Note donnée: {{comment.rating}}</p>
            </div>
            <div class="col-8 offset-2 px-5 text-center">
                {{ form_start(adminComment) }}
                {{ form_widget(adminComment) }}
                <button type="submit" class="btn btn-success mb-5"><i class="fas fa-check"></i>Enregistrer les modifications</button>
                {{ form_end(adminComment) }}
            </div>
        <div>
    </main>
                
{% endblock %}